<div class="container">
    <h1 class="nt-3">Danh sách bài viết</h1>
    <div class="d-flex justify-content-end mt-3">
        <a [routerLink]="['/admin/blogposts/add']" class="btn btn-primary">Thêm blog</a>
    </div>
    <ng-container *ngIf="blogPost$ | async as blogPosts">
        <table class="table table-bordered mt-3 ">
            <thead>
                <tr>
                    <th>Tiêu đề</th>
                    <th>Mô tả</th>
                    <th>Hiển thị?</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let blogPost of blogPosts">
                    <td>{{blogPost.title}}</td>
                    <td>{{blogPost.shortDescription}}</td>
                    <td>{{blogPost.isVisible}}</td>
                </tr>
            </tbody>
        </table>
    </ng-container>
</div>